<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <title th:replace="${title}">首页</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link th:href="@{/plugins/bootstrap/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/bootstrap/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/icheck/skins/all.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/viewer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/art/responsive.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/layui/css/global.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!--background: #34A0CE-->
</body>
</html>